/*Header nav*/
.header {
  background-image: url('../images/hero illustration.svg');
  background-size: cover;
  min-height: 100vh;
}

.nav__list--header {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}