/*Header nav*/
.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/hero illustration.svg');
  background-size: cover;
  min-height: 100vh;
}

.nav__list--header {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}