.nav {
  margin: 0;
  padding: 0.5%;
}

.nav__link {
  text-decoration: none;
  padding: 20px;
  justify-items: center;
  color: #E9E8ED;
  list-style: none;
  /*nav fonts*/
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  font-weight: 300;
}

.nav__link:hover {
  color: #9CA0B9;
}

.active {
  font-weight: bold;
  color: #9CA0B9;
}